#spring:
#  datasource:
#    url: jdbc:mysql://localhost:3306/boot_db?serverTimezone=UTC
#    hikari:
#      driver-class-name: com.mysql.cj.jdbc.Driver
#      username: root
#      password: root
#      maximum-pool-size: 50
#  jdbc:
#    template:
#      query-timeout: -1 #??????????
#      max-rows: 500 #???????
#      fetch-size: -1 #????????
#


mybatis-plus:
  global-config:
    db-config:
      table-prefix:
      id-type: auto
  configuration:
    #??????¡Â???????????????????????????????
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# h2?????

server:
  port: 80

spring:
  h2:
    console:
      enabled: true
      path: /h2

  datasource:
    url: jdbc:h2:~/test
    hikari:
      driver-class-name: org.h2.Driver
      username: sa
      password: 123456